{% extends 'base.html' %}

{% block title %}
<title>Editar Quarto</title>
{% endblock %}

{% block content %}
<h1>Quarto número {{ quarto.numero }}</h1>
<p>Quarto: {{ quarto.nome }}</p>
<p>Preço: {{ quarto.preco}}</p>
<p>Quantidade de camas: {{ quarto.camas }}</p>
<p>Frigobar: {{ quarto.frigobar }}</p>
<a href="{% url 'edita_quarto' quarto_id=quarto.quarto_id %}">
<input type="button" value="Editar"/>
</a>
<!-- <form method="POST"> {% csrf_token %} -->
<a href="{% url 'exclui_quarto' quarto_id=quarto.quarto_id %}">
<input type="button" value="Deletar"/>
</a>
<!-- </form> -->
{% endblock %}